<% photo      = local_assigns.has_key?(:photo) ? local_assigns[:photo] : f.object %>
<% station_id = params[:station_id] || f.object.project.station_id %>

<div class="column-4" id="<%= dom_id(photo) %>">
  <%= hidden_field_tag 'project[project_photo][id]', photo.id %>
  <div class="inner">
    <div class="img-frame" style="<%= version_diff(photo, 'image') %>">
      <a class="zooming" href="<%= photo.image_url %>" title="Station Photo <%= photo.id %>">
        <div class="img-wrap">
          <%= image_tag(photo.image_url(:medium_project_photo) || photo.image_url, class: 'mfp-fade') if photo.image_url %>
        </div>
      </a>
    </div>

    <div class="photo_details">
      <% if defined?(f) %>
        <%= render 'station_admin/stations/projects/project_photo_fields', f: f %>
      <% end %>

      <%= link_to t('delete_image'),
                  station_admin_stations_station_project_photo_path(station_id, photo.id),
                  method: :delete,
                  class: 'btn btn-danger btn-xs remove-project-photo',
                  data: { confirm: "#{t('buttons.delete')}?" },
                  remote: true %>
    </div>
  </div>
</div>
