<div class="btn-group btn-group-country" role="tablist">
  <%= link_to t('.all', scope: :project_gallery),
              station_admin_projects_path,
              class: "btn btn-default btn-categories-country #{ 'active' unless session[:in_my_country] }" %>
  <%= link_to t('.in_my_country', scope: :project_gallery),
              station_admin_projects_path(in_my_country: true),
              class: "btn btn-default btn-categories-country #{ 'active' if session[:in_my_country] }" %>
</div>

<br>

<div class="btn-group nav-services" role="tablist">
  <a href="#projects" aria-controls="projects" role="tab" data-toggle="tab" class="btn btn-primary btn-categories-services">
    <%= t('.projects', scope: :project_gallery) %>
  </a>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="projects">
    <div class="row">
      <div class="col-sm-12 ui-sortable">
        <div class="widget">
          <div class="widget-content padding">
            <form class="form-horizontal" role="form">
              <table class="table table-striped" cellspacing="0" width="100%" id="projects_datatable"
                     data-source="<%= station_admin_projects_path(format: :json, in_my_country: session[:in_my_country]) %>">
                <thead>
                <tr>
                  <th>ID</th>
                  <th><%= t('.project_name', scope: :project_gallery) %></th>
                  <th><%= t('.in_my_country', scope: :project_gallery) %></th>
                  <th><%= t('.view', scope: :project_gallery) %></th>
                  <th><%= t('.edit', scope: :project_gallery) %></th>
                  <th><%= t('.delete', scope: :project_gallery) %></th>
                </tr>
                </thead>
                <tbody></tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
