<% if @projects.any? %>
  <section class="projects">
    <div class="container">
      <h2><%= t('.title', scope: :project_gallery) %></h2>
      <div id="landing-carousel-projects"
           class="carousel slide hidden-xs hidden-sm"
           data-ride="carousel"
           data-interval="10000">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <% @projects.each_slice(2).with_index do |slised_projects, index| %>
            <div class="item <%= 'active' if index.zero? %>">
              <% slised_projects.each do |project| %>
                <div class="project-wrapper">
                  <article class="project-article">
                    <% if project.project_photos.any? %>
                      <%= image_tag '',
                                    class: 'preview-image',
                                    data: { src: project.cover_photo } %>
                    <% end %>
                    <h3 class="title h2"><%= project.name %></h3>
                    <div class="body">
                      <%= truncate_body(project.description, project.cover_photo) %>
                    </div>
                    <div class="meta">
                      <% if project.end_date %>
                        <%= time_tag(project.end_date.to_date, class: 'publication-time pull-right') %>
                      <% end %>
                    </div>
                  </article>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <!-- Controls -->
        <a class="carousel-arrow prev"
           href="#landing-carousel-projects"
           role="button"
           data-slide="prev"
           data-ng-non-bindable>
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          <span class="sr-only"><%= t('back') %></span>
        </a>
        <a class="carousel-arrow next"
           href="#landing-carousel-projects"
           role="button"
           data-slide="next"
           data-ng-non-bindable>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <span class="sr-only"><%= t('forward') %></span>
        </a>
      </div>
      <div id="landing-carousel-projects-mobile"
           class="carousel slide visible-sm-block visible-xs-block"
           data-ride="carousel"
           data-interval="10000">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <% @projects.each_with_index do |project, index| %>
            <div class="item <%= 'active' if index.zero? %>">
                <div class="project-wrapper">
                  <article class="project-article">
                    <% if project.project_photos.any? %>
                      <%= image_tag '',
                                    class: 'preview-image',
                                    data: { src: project.cover_photo } %>
                    <% end %>
                    <h3 class="title h2"><%= project.name %></h3>
                    <div class="body">
                      <%= truncate_body(project.description, project.cover_photo) %>
                    </div>
                    <div class="meta">
                      <% if project.end_date %>
                        <%= time_tag(project.end_date.to_date, class: 'publication-time pull-right') %>
                      <% end %>
                    </div>
                  </article>
                </div>
            </div>
          <% end %>
        </div>
        <!-- Controls -->
        <a class="carousel-arrow prev hidden-xs"
           href="#landing-carousel-projects-mobile"
           role="button"
           data-slide="prev"
           data-ng-non-bindable>
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          <span class="sr-only"><%= t('back') %></span>
        </a>
        <a class="carousel-arrow next hidden-xs"
           href="#landing-carousel-projects-mobile"
           role="button"
           data-slide="next"
           data-ng-non-bindable>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <span class="sr-only"><%= t('forward') %></span>
        </a>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <%= link_to t('.view_all', scope: :project_gallery),
                      projects_path,
                      class: 'btn text-uppercase btn-brand-secondary btn-lg' %>
        </div>
      </div>
    </div>
  </section>
<% end %>