<div class="nested-fields form-group" style="<%= version_diff(f.object, 'object_service') %>">
  <div class="col-sm-4">
    <%= f.select :object_id,
                 options_from_collection_for_select(@objects, :id, :name, f.object.object_id),
                 { include_blank: true },
                 class: 'form-control selectpicker' %>
  </div>
  <div class="col-sm-4">
    <%= f.select :service_id,
                 options_from_collection_for_select(@brand_services, :id, :name, f.object.service_id),
                 { include_blank: true },
                 class: 'form-control selectpicker' %>
  </div>
  <div class="col-sm-4">
    <%= link_to_remove_association remove_button(t('.remove', scope: :project_gallery)), f %>
  </div>
</div>

<script>
  jQuery(document).ready(function() {
    $('.nested-fields .selectpicker').selectpicker();
  });
</script>
