<div class="nested-fields">
  <div class="form-group">
    <div class="col-sm-8">
      <%= f.text_field :link,
                       class: 'form-control',
                       placeholder: t('.link_to_video', scope: :project_gallery),
                       autocomplete: 'off' %>
    </div>
    <div class="col-sm-4">
      <%= link_to_remove_association remove_button(t('.remove', scope: :project_gallery)), f %>
    </div>
  </div>
</div>
