<div class="nested-fields form-group project-photo-attribute-fields">
  <%= f.hidden_field :id, value: f.object.id, id: :project_photo_id %>
  <div class="col-sm-12 text-attributes">
    <%= f.text_field :name,
                     class: 'form-control',
                     placeholder: t('project_gallery.station_admin.stations.projects.project_photo_fields.name'),
                     autocomplete: 'off' %>
  </div>

  <div class="col-sm-12 text-attributes">
    <%= f.text_area :description,
                     class: 'form-control',
                     placeholder: t('project_gallery.station_admin.stations.projects.project_photo_fields.description'),
                     autocomplete: 'off' %>
  </div>

  <div class="col-sm-12 text-attributes">
    <%= f.text_field :alt,
                     class: 'form-control',
                     placeholder: t('project_gallery.station_admin.stations.projects.project_photo_fields.alt'),
                     autocomplete: 'off' %>
  </div>

  <button class="btn btn-primary btn-xs project-photo-attributes-collapse" type="button" data-toggle="collapse" data-target="#project-photo-attributes-<%= f.object.id %>"
          aria-expanded="false" aria-controls="project-photo-attributes-<%= f.object.id %>">
    <%= t('project_gallery.station_admin.stations.projects.project_photo_fields.add_attributes') %>
  </button>
  <div class="collapse col-xs-12" id="project-photo-attributes-<%= f.object.id %>" data-container="body">
    <div class="project-photo-attributes-inner">
      <div class="form-group">
        <label class="col-sm-3 control-label"><%= t('project_gallery.station_admin.stations.projects.project_photo_fields.brand') %></label>
        <div class="col-sm-9">
          <%= f.select :brand_id,
                       options_from_collection_for_select(@brands, :id, :name, f.object.brand_id),
                       { include_blank: true },
                       { class: 'form-control selectpicker', 'data-container' => 'body' } %>
        </div>
      </div>

      <% if defined?(HallwayStyles::VERSION) && Settings.use_styles %>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= t('project_gallery.station_admin.stations.projects.project_photo_fields.style') %></label>
          <div class="col-sm-9">
            <%= f.select :style_id,
                         options_from_collection_for_select(@styles, :id, :name, f.object.style_id),
                         { include_blank: true },
                         { class: 'form-control selectpicker', 'data-container' => 'body' } %>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <div class="col-xs-12">
          <%= f.fields_for :project_photo_object_services do |project_photo_object_service| %>
            <%= render 'project_photo_object_service_fields', f: project_photo_object_service %>
          <% end %>
          <div class="links">
            <%= link_to_add_association xs_add_button(t('project_gallery.station_admin.stations.projects.shared.project_form.buttons.add_interior_object')),
                                        f,
                                        :project_photo_object_services,
                                        data: { association_insertion_method: :before } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
