<div class="nested-fields">
  <div class="form-group">
    <label class="col-sm-3 control-label">
      <%= t('project_gallery.station_admin.stations.projects.project_photo_fields.object') %>
    </label>

    <div class="col-sm-9">
      <%= f.select :object_id,
                   options_from_collection_for_select(@objects, :id, :name, f.object.object_id),
                   { include_blank: true },
                   class: 'form-control selectpicker' %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">
      <%= t('project_gallery.station_admin.stations.projects.project_photo_fields.brand') %>
    </label>
    <div class="col-sm-9">
      <%= f.select :service_id,
                   options_from_collection_for_select(@brand_services, :id, :name, f.object.service_id),
                   { include_blank: true },
                   class: 'form-control selectpicker' %>
    </div>
  </div>
  <div class="remove-icon">
    <%= link_to_remove_association "<i class='fa fa-trash'></i>".html_safe, f %>
  </div>
</div>

<script>
  jQuery(document).ready(function() {
    $('.nested-fields .selectpicker').selectpicker();
  });
</script>
