<div class="widget">
  <%= form_for @project,
               url: edit_url,
               method: :patch,
               html: { class: 'form-horizontal project-form' } do |f| %>
    <%= render 'station_admin/stations/projects/shared/project_form', f: f %>
  <% end %>
</div>
