<div class="page-heading">
  <h1><i class="fa fa-edit"></i><%= t('.header', scope: :project_gallery) %></h1>
</div>

<div class="row">
  <div class="col-sm-12 ui-sortable">
    <button type="submit" class="btn btn-success pull-right">
      <%= link_to t('.add', scope: :project_gallery),
                  new_station_admin_stations_station_project_path(station_id: @station.id),
                  class: 'btn btn-success btn-add-station pull-right',
                  target: :blank %>
    </button>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-12 ui-sortable">
    <div class="widget">
      <div class="widget-content padding">
        <form class="form-horizontal" role="form">
          <table class="table table-striped" cellspacing="0" width="100%" id="station_projects_datatable"
                 data-source="<%= station_admin_stations_station_projects_path(@station, format: :json) %>">
            <thead>
            <tr>
              <th>ID</th>
              <th><%= t('.name', scope: :project_gallery) %></th>
              <th><%= t('.view', scope: :project_gallery) %></th>
              <th><%= t('.edit', scope: :project_gallery) %></th>
              <th><%= t('.remove', scope: :project_gallery) %></th>
            </tr>
            </thead>
            <tbody></tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
