<div class="widget">
  <%= form_for @project,
               url: station_admin_stations_station_projects_path(@station),
               html: { class: 'form-horizontal' } do |f| %>
    <%= render 'station_admin/stations/projects/shared/project_form', f: f %>
  <% end %>
</div>
