<li>
  <%= link_to station_admin_stations_station_projects_path(@station), class: @active_tab == 'station_projects' ? 'active' : nil do %>
    <i class="fa fa-briefcase" aria-hidden="true"></i><span><%= t('.name', scope: :project_gallery) %></span>
  <% end %>
</li>
