<li>
  <%= link_to station_admin_projects_path(in_my_country: true), class: @active_tab == 'projects' ? 'active' : nil do %>
    <i class="fa fa-briefcase"></i><span><%= t('.name', scope: :project_gallery) %></span>
  <% end %>
</li>
