<ul>
  <li>
    <%= link_to back_to_list_path do %>
      <i class="fa fa-arrow-circle-left"></i><span><%= t('side_bar.back_to_list') %></span>
    <% end %>
  </li>
  <li>
    <div class='alert alert-success'>
      <%= @station.type_and_name %>
    </div>
  </li>
</ul>
