<li class="dropdown iconify">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-briefcase"></i>
    <% if awaiting_review_projects.present? %>
      <span class="label label-danger absolute"><%= awaiting_review_projects.size %></span>
    <% end %>
  </a>
  <ul class="dropdown-menu dropdown-message">
    <li class="dropdown-header notif-header">
      <i class="icon-mail-2"></i><%= t('.new_projects', scope: :project_gallery) %>
    </li>
    <% awaiting_review_projects.first(7).each do |project| %>
      <li class="unread station">
        <%= link_to edit_station_admin_stations_station_project_path(project.station_id, project.id, moderation: true) do %>
          <p><%= l(project.updated_at, format: I18n.t('date.formats.long')) %></p>
          <p><%= t('.project_edited', scope: :project_gallery) %> <strong><%= project.name %></strong></p>
          <p><strong>№</strong> <%= project.id %></p>
        <% end %>
      </li>
    <% end %>
    <li class="dropdown-footer">
      <%= link_to station_admin_projects_path, class: 'btn btn-sm btn-success btn-block' do %>
        <%= t('.show_all_projects', scope: :project_gallery) %> <i class="fa fa-angle-right"></i>
      <% end %>
    </li>
  </ul>
</li>
