<div class="row batch-form-wrapper skip-icheckbox">
  <div class="col-sm-12 col-lg-9 batch-form" data-spy="affix" data-offset-top="85">
    <div class="widget">
      <div class="widget-header transparent">
        <h2><strong><%= t('services.batch_actions') %></strong>
        </h2>
      </div>
      <div class="widget-content padding">
        <table class="table table-vertical-align" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th width="10%"></th>
            <th width="25%"><%= t('services.title_service') %></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <input type="search"
                     placeholder="<%= t('datatables.search') %>"
                     class="form-control station-service-search">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row skip-icheckbox">
  <div class="col-sm-12 col-lg-9 ui-sortable">
    <%= form_for @project,
                 url: station_admin_stations_station_project_services_path(@station, @project),
                 html: { method: :put, id: 'projectBrandServicesForm', remote: true } do |f| %>
      <%= hidden_field_tag 'project[destroy_brand_service_ids][]', nil, id: 'destroy_brand_service_ids' %>
      <div class="widget">
          <div class="widget-header transparent widget-header-togglable">
            <div class="edit-check-all-additional-btn">
              <label>
                <input type='checkbox' class="edit-select-all-sub-services">
                <%= t('services.all') %>
              </label>
            </div>
            <div class="additional-btn">
              <a href="#" class="widget-toggle"><i class="fa fa-2x fa-angle-down"></i></a>
            </div>
          </div>
          <div class="widget-content padding">
            <table class="table table-services-category table-striped table-vertical-align" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th style="width: 10%;">№</th>
                <th style="width: 35%;"><%= t('services.title_service') %></th>
                <th style="width: 5%;"><%= t('adding') %></th>
              </tr>
              </thead>
              <tbody>
              <%= f.collection_check_boxes(:service_ids, @project_brand_services, :id, :name) do |ff| %>
                <tr>
                  <td><%= ff.object.id %></td>
                  <td><%= ff.object.name %></td>
                  <td>
                    <%= ff.check_box class: 'brand-service-checkbox' %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-right">
          <%= f.button t('save'),
                         type: 'submit',
                         class: 'btn btn-info',
                         data: { disable_with: "#{t('save')} <i class='fa fa-spinner fa-spin'>".html_safe } %>
        </div>
    <% end %>
  </div>
</div>