var $addFieldsSelector = $(".add_fields[data-association='project_photo']")

$('.gallery-wrap').append('<%= j render('station_admin/stations/project_photos/partials/photo', photo: @project_photo) %>')

$addFieldsSelector.data('association-insertion-method', 'append')
                  .data('association-insertion-node', '#project_photo_<%= @project_photo.id %> .photo_details');

$addFieldsSelector.trigger('click')

$('#project_photo_<%= @project_photo.id %> #project_photo_id').val('<%= @project_photo.id %>')