<div class="widget">
  <%= form_for @meta_data,
               url: station_admin_stations_station_projects_path(@station),
               html: { class: 'form-horizontal' } do |f| %>
    <div class="widget-header transparent">
      <h2><strong>SEO</strong></h2>
    </div>
    <div class="widget-content padding">
      <div class="form-group">
        <label for="station_meta_title" class="col-sm-2 control-label"><%= t('settings.title') %></label>
        <div class="col-lg-7 col-xs-10">
          <%= f.text_field :title,
                           class: 'form-control',
                           placeholder: t('settings.title') %>
        </div>
      </div>
      <div class="form-group">
        <label for="station_meta_keywords" class="col-sm-2 control-label"><%= t('settings.key_words') %></label>
        <div class="col-lg-7 col-xs-10">
          <%= f.text_field :keywords,
                           class: 'form-control',
                           placeholder: t('settings.key_words') %>
        </div>
      </div>
      <div class="form-group">
        <label for="station_meta_description" class="col-sm-2 control-label"><%= t('station.description') %></label>
        <div class="col-lg-7 col-xs-10">
          <%= f.text_field :description,
                           class: 'form-control',
                           placeholder: t('station.description') %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-9 col-xs-12">
          <div class="text-right">
            <%= f.submit t('save'), class: "btn btn-info" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>