<%= f.hidden_field :station_id, value: @station.id %>
<div class="widget-header transparent">
  <h2><strong><%= t('.general', scope: :project_gallery) %></strong> <%= t('.settings', scope: :project_gallery) %></h2>
</div>
<div class="widget-content padding">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label <%= version_diff('name') %>">
      <%= t('.name', scope: :project_gallery) %>
    </label>
    <div class="col-lg-7 col-xs-10">
      <%= f.text_field :name,
                       id: 'name',
                       class: 'form-control',
                       placeholder: t('.name', scope: :project_gallery),
                       required: true %>
    </div>
  </div>
  <% if current_user.operator? || current_user.station_manager? %>
    <div class="form-group">
      <label class="col-sm-2 control-label"><%= t('project_gallery.station_admin.stations.projects.shared.project_form.project_mode') %></label>
      <div class="col-lg-7 col-xs-10">
        <%= f.select(:project_mode_id,
                     options_for_select(ProjectMode.includes(:translations).map { |mode|
                       [mode.name, mode.id]
                     },
                     selected: @project.project_mode_id
                     ),
                     {},
                     {
                       class: 'form-control selectpicker',
                     }
                   )
        %>
      </div>
    </div>
  <% end %>
  <% if defined?(HallwayStyles::VERSION) && Settings.use_styles %>
    <div class="form-group">
      <label class="col-sm-2 control-label <%= version_diff('style_id') %>"><%= t('.style', scope: :project_gallery) %></label>
      <div class="col-lg-7 col-xs-10">
        <%= f.select :style_id,
                     options_from_collection_for_select(@styles, :id, :name, f.object.style_id),
                     { include_blank: true },
                     { class: 'form-control selectpicker', required: true } %>
      </div>
    </div>
  <% end %>
  <% if false %>
    <div class="form-group">
      <label class="col-sm-2 control-label"><%= t('.types_of_carbody', scope: :project_gallery) %></label>
      <div class="col-lg-7 col-xs-10">
          <%= f.select :car_body_type_id,
                       options_from_collection_for_select(@car_body_types, :id, :name, f.object.car_body_type_id),
                       {},
                       class: 'form-control selectpicker',
                       required: true %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><%= t('.color', scope: :project_gallery) %></label>
      <div class="col-lg-7 col-xs-10">
        <%= f.select :color_id,
                     options_from_collection_for_select(@colors, :id, :name, f.object.color_id),
                     { include_blank: true },
                     { class: 'form-control selectpicker', required: true } %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%= t('.brand', scope: :project_gallery) %></label>
    <div class="col-lg-7 col-xs-10">
      <%= f.select :brand_id,
                   options_from_collection_for_select(@brands, :id, :name, f.object.brand_id),
                   { include_blank: true },
                   { class: 'form-control selectpicker', required: true } %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label <%= version_diff('project_status_id') %>"><%= t('.status', scope: :project_gallery) %></label>
    <div class="col-lg-7 col-xs-10">
      <%= f.select :project_status_id,
                   options_from_collection_for_select(@project_statuses, :id, :name, f.object.project_status_id),
                   { include_blank: true },
                   { class: 'form-control selectpicker', required: true } %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label <%= version_diff('photographer') %>"><%= t('.photographer', scope: :project_gallery) %></label>
    <div class="col-lg-7 col-xs-10">
      <%= f.text_field :photographer,
                       class: 'form-control',
                       placeholder: t('.photographer', scope: :project_gallery) %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label <%= version_diff('footage') %>"><%= t('.footage', scope: :project_gallery) %></label>
    <div class="col-lg-7 col-xs-10">
      <%= f.number_field :footage,
                         class: 'form-control',
                         step: 0.5 %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%= t('.end_date', scope: :project_gallery) %></label>
    <div class="col-lg-7 col-xs-10">
      <%= f.text_field :end_date,
                       class: 'form-control form-date' %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label <%= version_diff('cover') %>"><%= t('project_gallery.station_admin.stations.projects.shared.project_form.cover') %></label>
    <div class="col-lg-7 col-xs-10">
      <%= image_tag(@project.cover_url, class: 'project-cover') if @project.cover_url.present?%>
      <%= f.file_field :cover, class: 'bootstrap-file-input' %>
    </div>
  </div>
  <div class="widget-header transparent">
    <h2><strong><%= 'Position' %></strong></h2>
  </div>
  <div class="widget-content padding">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="marker_address" class="col-sm-4 control-label"><%= t('.marker', scope: :project_gallery) %></label>
          <div class="col-sm-8">
            <%= f.text_area :address_real,
                            rows: 3,
                            id: 'marker_address',
                            class: 'form-control',
                            placeholder: t('.address', scope: :project_gallery),
                            required: true %>

          </div>
        </div>
        <div class="form-group">
          <label for="region" class="col-sm-4 control-label"><%= t('.district', scope: :project_gallery) %></label>
          <div class="col-sm-8">
            <%= f.text_field :region,
                             id: 'region',
                             class: 'form-control readonly-text',
                             placeholder: t('.district', scope: :project_gallery),
                             readonly: true %>
          </div>
        </div>
        <div class="form-group">
          <label for="town" class="col-sm-4 control-label"><%= t('.city', scope: :project_gallery) %></label>
          <div class="col-sm-8">
            <%= f.text_field :city,
                             value: f.object.city&.name,
                             id: 'town',
                             placeholder: t('.city', scope: :project_gallery),
                             class: 'form-control readonly-text',
                             readonly: true %>

          </div>
        </div>
        <div class="form-group">
          <label for="country" class="col-sm-4 control-label"><%= t('.country', scope: :project_gallery) %></label>
          <div class="col-sm-8">
            <%= f.text_field :country,
                             id: 'country',
                             class: 'form-control readonly-text',
                             placeholder: t('.country', scope: :project_gallery),
                             readonly: true %>
          </div>
        </div>

        <div class="form-group">
          <label for="lat" class="col-sm-4 control-label"><%= t('.lat', scope: :project_gallery) %></label>
          <div class="col-sm-8">
            <%= f.text_field :latitude,
                             id: 'lat',
                             class: 'input-sm form-control',
                             placeholder: "#{f.object.latitude}",
                             readonly: true %>
          </div>
        </div>
        <div class="form-group">
          <label for="lon" class="col-sm-4 control-label"><%= t('.lng', scope: :project_gallery) %></label>
          <div class="col-sm-8">
            <%= f.text_field :longitude,
                             id: 'lng',
                             class: 'input-sm form-control',
                             placeholder: "#{f.object.longitude}",
                             readonly: true %>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-sm-6">
        <div id="station-map"></div>
      </div>
    </div>
  </div>
  <div class="widget-header transparent">
    <h2><strong><%= t('.interior_objects', scope: :project_gallery) %></strong></h2>
  </div>
  <div class="widget-content padding">
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <%= f.fields_for :project_object_services do |project_object_service| %>
          <%= render 'project_object_service_fields', f: project_object_service %>
        <% end %>
        <div class="links">
          <%= link_to_add_association add_button(t('.add_interior_object', scope: :project_gallery)),
                                      f,
                                      :project_object_services,
                                      data: { association_insertion_method: :before } %>
        </div>
      </div>
    </div>
  </div>
  <div class="widget-header transparent">
    <h2><strong><%= t('.meta_data', scope: :project_gallery) %></strong></h2>
  </div>
  <div class="widget-content padding">
    <%= f.fields_for :meta_data, f.object.meta_data do |meta_data| %>
      <div class="form-group">
        <label for="station_meta_title" class="col-sm-2 control-label">
          <%= t('settings.title') %>
        </label>
        <div class="col-lg-7 col-xs-10">
          <%= meta_data.text_field :title,
                                   class: 'form-control',
                                   placeholder: t('.title', scope: :project_gallery) %>
        </div>
      </div>
      <div class="form-group">
        <label for="station_meta_keywords" class="col-sm-2 control-label">
          <%= t('settings.key_words') %>
        </label>
        <div class="col-lg-7 col-xs-10">
          <%= meta_data.text_field :keywords,
                                   class: 'form-control',
                                   placeholder: t('.key_words', scope: :project_gallery) %>
        </div>
      </div>
      <div class="form-group">
        <label for="station_meta_description" class="col-sm-2 control-label">
          <%= t('station.description') %>
        </label>
        <div class="col-lg-7 col-xs-10">
          <%= meta_data.text_field :description,
                                   class: 'form-control',
                                   placeholder: t('.description', scope: :project_gallery) %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="widget-header transparent">
    <h2><strong><%= t('.description', scope: :project_gallery) %></strong></h2>
  </div>
  <div class="widget-content padding">
    <div class="form-group">
      <label class="col-sm-2 control-label <%= version_diff('description') %>">
        <%= t('.short_project_description', scope: :project_gallery) %>
      </label>
      <div class="col-lg-7 col-xs-10">
        <%= f.text_area :description, value: "#{f.object.description}", class: 'form-control summernote' %>
      </div>
    </div>
  </div>
  <div class="widget-header transparent">
    <h2><strong><%= t('.gallery', scope: :project_gallery) %></strong></h2>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label <%= version_diff('alt') %>">
      <%= t('project_gallery.station_admin.stations.projects.shared.project_form.alt') %>
    </label>
    <div class="col-lg-7 col-xs-10">
      <%= f.text_field :alt,
                       id: 'alt',
                       class: 'form-control',
                       placeholder: t('project_gallery.station_admin.stations.projects.shared.project_form.alt') %>
    </div>
  </div>
  <div class="widget-content padding">
    <div class="gallery-wrap">
      <%= f.fields_for :project_photos do |project_photo| %>
        <% unless project_photo.object.new_record? %>
          <%= render 'station_admin/stations/project_photos/partials/photo', f: project_photo %>
        <% end %>
      <% end %>
      <%= link_to_add_association "<button type='button' style='display: none;'></button>".html_safe,
                                  f,
                                  :project_photos %>
    </div>
    <div id="dropzone">
      <div class="row">
        <div class="col-lg-9 col-xs-12">
          <div class="dropzone dz-clickable">
            <div class="dz-message">
              <%= I18n.t('fileupload.drop_message') %><br>
              <span class="note"><%= t('station.choose_photos_for_gallery') %></span>
              <span class="note"><%= t('station.gallery_photo_limit') %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= file_field_tag :image,
                       name: 'project_photo[image]',
                       data: { url: station_admin_stations_station_project_photos_path(station_id: @station.id) },
                       multiple: true,
                       id: 'project_photo_uploader',
                       class: 'hidden' %>
    <div id="upload-progress"></div>
    <%= render 'station_admin/stations/template_upload' %>
    <div class="widget-header transparent">
      <h2><strong><%= t('.videos', scope: :project_gallery) %></strong></h2>
    </div>
    <div class="widget-content padding">
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <%= f.fields_for :project_videos do |project_video| %>
            <%= render 'project_video_fields', f: project_video %>
          <% end %>
          <div class="links">
            <%= link_to_add_association add_button(t('.add_video', scope: :project_gallery)),
                                        f,
                                        :project_videos,
                                        data: { association_insertion_method: :before } %>

          </div>
        </div>
      </div>
    </div>
    <% if (current_user.operator? || current_user.station_manager?) && params[:moderation] == 'true' %>
      <div class="form-group">
        <div class="col-lg-9 col-xs-12">
          <div class="text-right">
            <%= submit_tag 'Approve', name: :commit, value: :approve, class: 'btn btn-info' %>
            <%= submit_tag 'Cancel', name: :commit, value: :cancel, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="form-group">
        <div class="col-lg-9 col-xs-12">
          <div class="text-right">
            <%= submit_tag t('save'), name: :commit, value: :update, class: 'btn btn-info' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
